@import '../../styles/_mixins';

.content {
  @include flex;
  flex-flow: column wrap;
  width: 100vw;
  min-height: 100vh;
}

.header_content {
  width: 100vw;
  text-align: center;
  background-color: var(--primary-yellow);
  line-height: 15px;

  h1 {
    font-weight: 500;
  }
}

.bar {
  background: linear-gradient(to right, #fff2c6, rgba(148, 221, 248, 0.781));
  height: 0.4em;
}
