@import '../../styles/_mixins';

.field {
  margin-bottom: 1.2rem;
<<<<<<< HEAD
  font-size: 0.75rem;
  max-width: 26.8rem;
  width: 100%;
  @include flex;
=======
  max-width: 26.8rem;
  width: 100%;
>>>>>>> fdc1f7c9b5980b5860433f5f2823b113dd095ed2
  flex-flow: column wrap;
}

.wrapper {
<<<<<<< HEAD
  position: relative;
  border-radius: 15px;
  width: 82%;
  display: block;
  margin: 0.2rem 0;

  .span {
    font-family: var(--second-font);
    font-size: 14px;
    line-height: 18px;
  }

=======
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0;

>>>>>>> fdc1f7c9b5980b5860433f5f2823b113dd095ed2
  .input {
    width: 354px;
    height: 48px;
    border: 1px solid #c4bca4;
<<<<<<< HEAD
    position: relative;
    border-radius: 10px;
    padding: 0 1.2rem;
    z-index: 2;
    outline: 0 none;
    background: transparent;
=======
    border-radius: 10px;
    padding: 0 1.2rem;
    outline: 0 none;
>>>>>>> fdc1f7c9b5980b5860433f5f2823b113dd095ed2
  }
}

.placeholder {
<<<<<<< HEAD
  @include pseudo(auto, 14px, 9px, var(--field), 1);
  height: auto;
  color: red;
  padding: 0.4rem 0.75rem;
  border-radius: 15px;
  transition: transform 0.3s, font-size 0.3s;
  text-transform: capitalize;

  &::after {
    @include pseudo;
    border-radius: 15px;
    box-shadow: gray;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.focused {
  transform: translate(11px, -25px);
  z-index: 3;
  font-size: 0.65rem;
  transition: transform 0.3s, font-size 0.6s;

  &::after {
    opacity: 1;
    transition: opacity 0.3s;
=======
  display: flex;
  justify-content: space-arou;
  width: 354px;
  span {
    font-family: var(--second-font);
    font-size: 14px;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    color: #357870;
    font-family: var(--secondary-font);
    font-size: 14px;
    width: 83%;
    text-align: right;
>>>>>>> fdc1f7c9b5980b5860433f5f2823b113dd095ed2
  }
}

.error {
<<<<<<< HEAD
  color: var(--primary-orange);
=======
  color: red;
>>>>>>> fdc1f7c9b5980b5860433f5f2823b113dd095ed2
  padding: 0.2rem 2.7rem;
  align-self: flex-start;
}
